@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  --primary-blue: hsl(246, 80%, 60%);
  --primary-work: hsl(15, 100%, 70%);
  --primary-play: hsl(195, 74%, 62%);
  --primary-study: hsl(348, 100%, 68%);
  --primary-exercise: hsl(145, 58%, 55%);
  --primary-social: hsl(264, 64%, 52%);
  --primary-self-care: hsl(43, 84%, 65%);
  --secondary-very-dark-blue: hsl(226, 43%, 10%);
  --secondary-dark-blue: hsl(235, 46%, 20%);
  --secondary-desaturated-blue: hsl(235, 45%, 61%);
  --secondary-pale-blue: hsl(236, 100%, 87%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-weight: 400;
  background-color: var(--secondary-very-dark-blue);
  color: white;
  font-family: "Rubik", sans-serif;
}

/* Grid Alignment */
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* border: 2px solid white; */
  max-width: 1100px;
  height: 500px;
  gap: 1.75rem;
  margin: 100px auto;
}

img {
  width: 70px;
  border: 2px solid white;
  border-radius: 60px;
}

/* Report Card Styling */
.user-card {
  height: 325px;
  background-color: var(--primary-blue);
  border-radius: 20px;
  padding: 25px 40px 0px 25px;
}

.report-card {
  grid-row: 1 / 3;
  background-color: var(--secondary-dark-blue);
  border-radius: 0 0 20px 20px;
}

.user-card span {
  font-size: 0.85rem;
  color: var(--secondary-pale-blue);
  padding: 20px 0 5px 0;
  display: block;
}

.user-card h1 {
  font-weight: 300;
  font-size: 2.25rem;
}

.info-toggle {
  height: 200px;
}

.info-toggle ul {
  list-style-type: none;
  padding: 25px;
}

.info-toggle li {
  margin-bottom: 15px;
  color: var(--secondary-pale-blue);
  opacity: 50%;
  font-size: 1rem;
  cursor: pointer;
}

svg {
  cursor: pointer;
}
.card-illustration {
  background-repeat: no-repeat;
  background-position: right;
  height: 50px;
  border-radius: 13px 13px 0 0;
}

.work-illustration {
  background-image: url("./images/icon-work.svg");
  background-color: var(--primary-work);
}

.play-illustration {
  background-image: url("./images/icon-play.svg");
  background-color: var(--primary-play);
}

.study-illustration {
  background-image: url("./images/icon-study.svg");
  background-color: var(--primary-study);
}

.exercise-illustration {
  background-image: url("./images/icon-exercise.svg");
  background-color: var(--primary-exercise);
}

.social-illustration {
  background-image: url("./images/icon-social.svg");
  background-color: var(--primary-social);
}

.self-care-illustration {
  background-image: url("./images/icon-self-care.svg");
  background-color: var(--primary-self-care);
}

.card-info {
  height: 200px;
  background-color: var(--secondary-dark-blue);
  border-radius: 0 0 20px 20px;
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 0 30px;
  align-items: center;
  font-weight: 500;
}

.card-hours {
  padding: 20px 30px 0 30px;
}

.card-hours h3 {
  margin-bottom: 25px;
  font-size: 2.75rem;
  font-weight: 300;
}

.card-hours span {
  font-size: 0.9rem;
  color: var(--secondary-pale-blue);
  opacity: 60%;
}

.card-info:hover {
  filter: brightness(150%);
}

.info-toggle li:hover {
  filter: brightness(300%);
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  .report-card,
  .work-card,
  .play-card,
  .study-card,
  .exercise-card,
  .social-card,
  .self-care-card {
    margin: 0 20px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .report-card {
    height: 400px;
  }
}
